html, body {
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.MuiInputBase-root {
  color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}
